html{
height: 100%;
}

  body{
  background-color: black;
  color:#f77d09ed;
  font-family:serif;
  }

    *{
    margin:0;
    padding: 0;
    }

      .container{
      display: flex;
      align-items: center;
      padding: 20px 0px;
      justify-content: space-evenly;
      background-color: rgb(17 18 15);
      }

        p{
        color:#92f5d3;
        font-style: italic;
        padding: 7px;
        background-color: rgb(39, 27, 13);
        border-radius: 5px;
        border: 2px solid #f77d09ed;
        }

          .containers{
          width: 300px;
          padding: 55px 15px;
          background-color: #151118;
          text-align: center;
          display: grid;
          gap: 20px;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
          align-items: center;
          }

            .select{
            margin: auto;
            border: 0px ;
            width: 50px;
            height: 20px;
            padding: 1px;
            background-color: rgb(151 148 140);
            cursor: pointer;
            transition: 1s;
            }

              .inner{
              width: 23px;
              transition: 1s;
              height: 19px;
              background: #f77d09ec;
              border: 1px solid rgb(246, 148, 148);
              box-sizing: border-box;
              }

                .powbtn{
                display: flex;
                align-items: center;
                justify-items: center;
                }

                  .brd{
                  margin: 10px;
                  }

                  
@media(max-width:420px){

.container{
flex-direction: column;
}

  h1{
  font-size: 25px;
  }

    .containers{
    padding:25px 0px ;
    width: 230px;
    }

}